AuthType Basic
AuthName "Passwortgeschützter Bereich"
AuthUserFile /Applications/MAMP/htdocs/nachmieter-suche/.htpasswd 
Require valid-user

RewriteEngine On 

RewriteCond %{QUERY_STRING}    "post_type=" [NC]
RewriteRule (.*)  /$1? [R=301,L]

RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^([^\.]+)$ $1.php [NC,L]

ErrorDocument 401 /[path_to_file]/error.html
ErrorDocument 403 /[path_to_file]/error.html