* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: $main-font;
    color: #333;
    background: white;
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
    display: block;
    font-weight: 700;
    margin-bottom: 1.25rem;
    @include breakpoint(m) {
        margin-bottom: 2rem;
    }
    text-align: center;
    color: $primary;
    span {
        display: block;
    }
}

h1, .h1 {
    font-size: rem($h1-fs * 0.6);
    line-height: rem($h1-fs * 0.6 + 10px);
    span {
        color: $secondary;
        font-size: rem(24px);
    }
    @include breakpoint(s) {
        font-size: rem($h1-fs * 0.8);
        line-height: rem($h1-fs * 0.8 + 10px);
    }
    @include breakpoint(m) {
        font-size: rem($h1-fs);
        line-height: rem($h1-fs + 10px);
        span {
            font-size: rem(30px);
        }
    }
}

h2, .h2 {
    font-size: rem($h2-fs * 0.6);
    line-height: rem($h2-fs * 0.6 + 10px);
    color: $secondary;
    @include breakpoint(s) {
        font-size: rem($h2-fs * 0.8);
        line-height: rem($h2-fs * 0.8 + 10px);
    }
    @include breakpoint(m) {
        font-size: rem($h2-fs);
        line-height: rem($h2-fs + 10px);
    }
}

h3, .h3 {
    font-size: rem($h2-fs * 0.8);
    line-height: rem($h2-fs * 0.8 + 10px);
    @include breakpoint(m) {
        font-size: rem($h2-fs);
        line-height: rem($h2-fs + 10px);
    }
}

main {
    p {
        margin-bottom: 1.25rem;
    }
}

form {
    &.default {
        input {
            border: none;
            border-radius: 25px;
            padding: .7rem;
            color: $dark;
            font-size: rem(14px);
            font-weight: lighter;
            @include breakpoint(m) {
                font-size: rem(15px);
            }
            outline: none;
            display: block;
            border: 1px solid transparent;
            &.error {
                border: 1px solid $lightalert;
            }
    
            &::placeholder {
                color: lighten($primary, 30%);
            }

            &[type=text], &[type=password], &[type=mail] {
                background: darken($light, 3%);
                width: 100%;
                &:focus {
                    background: darken($light, 5%);
                }
            }
    
            &[type=submit] {
                cursor: pointer;
                color: $light;
            }
        }
        fieldset {
            border: none;
                label {
                    display: block;
                    position: absolute;
                    left: 0;
                    top: 0;
                    bottom: 0;
                    width: 40px;
                    background: $secondary;
                    color: $light;
                    border-bottom-left-radius: 50%;
                    border-top-left-radius: 50%;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    i {
                        font-size: 18px;
                        position: relative;
                        left: 2px;
                    }
                    &.big-label {
                        border-top-left-radius: 25px;
                        border-bottom-left-radius: 25px;
                    }
                }
        }
        textarea {
            border: none;
            border-radius: 25px;
            background: darken($light, 3%);
            resize: none;
            width: 100%;
            padding: .7rem;
            padding-left: rem(50px);
            color: $dark;
            font-size: rem(14px);
            font-weight: lighter;
            outline: none;
            &:focus {
                background: darken($light, 5%);
            }
            &::placeholder {
                color: lighten($primary, 30%);
            }
            @include breakpoint(m) {
                font-size: rem(15px);
            }
        }
    }
}

button {
    outline: none;
    border: none;
    cursor: pointer;
    font-size: 15px;
    font-family: $main-font;
}

ul {
    &.styled-list {
        li {
            list-style: none;
            &:before {
                content: '\f105';
                padding-right: 10px;
                font-family: $icon-font;
            }
        }
    }
}