* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: $main-font;
    color: $dark;
    background: $bodybg;
}

::-moz-selection { /* Code for Firefox */
    color: $light;
    background: $secondary;
}

::selection {
    color: $light;
    background: $secondary;
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
    display: block;
    font-weight: 700;
    margin-bottom: 1.25rem;
    @include breakpoint(m) {
        margin-bottom: 2rem;
    }
    text-align: center;
    color: $primary;
    span {
        display: block;
    }
}

h1, .h1 {
    font-size: rem($h1-fs * 0.6);
    line-height: rem($h1-fs * 0.6 + 10px);
    span {
        color: $secondary;
        font-size: rem(24px);
    }
    @include breakpoint(s) {
        font-size: rem($h1-fs * 0.8);
        line-height: rem($h1-fs * 0.8 + 10px);
    }
    @include breakpoint(m) {
        font-size: rem($h1-fs);
        line-height: rem($h1-fs + 10px);
        span {
            font-size: rem(30px);
        }
    }
}

h2, .h2 {
    font-size: rem($h2-fs * 0.6);
    line-height: rem($h2-fs * 0.6 + 10px);
    color: $secondary;
    @include breakpoint(s) {
        font-size: rem($h2-fs * 0.8);
        line-height: rem($h2-fs * 0.8 + 10px);
    }
    @include breakpoint(m) {
        font-size: rem($h2-fs);
        line-height: rem($h2-fs + 10px);
    }
}

h3, .h3 {
    font-size: rem($h3-fs * 0.8);
    line-height: rem($h3-fs * 0.8 + 10px);
    @include breakpoint(m) {
        font-size: rem($h3-fs);
        line-height: rem($h3-fs + 10px);
    }
}

h4, .h4 {
    font-size: rem($h4-fs * 0.8);
    line-height: rem($h4-fs * 0.8 + 10px);
    @include breakpoint(m) {
        font-size: rem($h4-fs);
        line-height: rem($h4-fs + 10px);
    }
}

a {
    text-decoration: none;
}

main {
    p {
        margin-bottom: 1.25rem;
    }
}

.lazyImg {
    background: rgba($primary, 0.35);
}

form {
    &.default {
        input {
            font-family: $main-font;
            border: none;
            border-radius: 25px;
            padding: .7rem;
            color: $dark;
            font-size: rem(14px);
            @include breakpoint(m) {
                font-size: rem(15px);
            }
            outline: none;
            display: block;
            border: 1px solid transparent;
            &.error {
                border: 1px solid $lightalert;
            }
    
            &::placeholder {
                font-family: $main-font;
                color: lighten($secondary, 20%);
            }

            &[type=text], &[type=password], &[type=mail], &[type=number], &[type=date], &[type=file] {
                background: $light;
                box-shadow: 0 0 5px rgba(0, 0, 0, 0.05);
                width: 100%;
                padding-left: 50px;
                &:focus {
                    box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
                }
            }
            &[name=obj-einzugsdatum] {
                padding-right: rem(80px);
            }

            &[type=file] {
                color: lighten($primary, 20%);
            }
    
            &[type=submit] {
                cursor: pointer;
                color: $light;
            }
        }
        fieldset {
            border: none;
            position: relative;
            input {
                &[type=text], &[type=password], &[type=mail], &[type=number], &[type=date], &[type=file] {
                    @include breakpoint(s) {
                        margin-left: rem(170px);
                        width: calc(100% - 170px);
                        padding-left: rem(15px);
                        border-top-left-radius: 0;
                        border-bottom-left-radius: 0;
                    }
                }
            }
            &.optional, &.dropdown, .optional {
                input, textarea {
                    padding-right: rem(90px);
                }
                &:after {
                    pointer-events: none;
                    position: absolute;
                    top: 50%;
                    transform: translateY(-50%);
                    right: 3%;
                    content: 'optional';
                    color: $lightprimary;
                    font-size: rem(13px);
                }
            }
            
            &.dropdown {
                &:after {
                    font-family: $icon-font;
                    content: '\f13a';
                }
            }
            select {
                font-family: $main-font;
                -moz-appearance: none;
                -webkit-appearance: none;
                appearance: none;
                background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mP8nwYAAmoBZ0eMiB8AAAAASUVORK5CYII=) repeat;
                border: none;
                border-radius: 25px;
                cursor: pointer;
                font-size: rem(15px);
                height: 40px;
                outline: none;
                padding-left: 50px;
                background: $light;
                box-shadow: 0 0 5px rgba(0, 0, 0, 0.05);
                width: 100%;
                color: $dark;
                &.change-select-color {
                    color: lighten($secondary, 20%);
                    &.filled {
                        color: $dark;
                    }
                }
                @include breakpoint(s) {
                    width: calc(100% - 170px);
                    margin-left: rem(170px);
                    padding-left: rem(15px);
                    border-top-left-radius: 0;
                    border-bottom-left-radius: 0;
                }
                &:required:invalid {
                    color: lighten($secondary, 20%);
                }
                option {
                    color: $dark;
                    &:disabled {
                        color: lighten($secondary, 20%);
                    }
                }
            }
                label {
                    display: block;
                    position: absolute;
                    left: 0;
                    top: 0;
                    bottom: 0;
                    width: 40px;
                    background: $secondary;
                    color: $light;
                    border-bottom-left-radius: 50%;
                    border-top-left-radius: 50%;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    span {
                        display: none;
                    }
                    @include breakpoint(s) {
                        justify-content: flex-start;
                        width: rem(170px);
                        border-top-left-radius: rem(25px);
                        border-bottom-left-radius: rem(25px);
                        i {
                            margin-left: rem(15px);
                        }
                        span {
                            display: inline-block;;
                            padding-left: rem(13px);
                        }
                    }
                    &.opt-sec {
                        background: lighten($secondary, 15%);
                    }
                    i {
                        font-size: 18px;
                        position: relative;
                        left: 2px;
                    }
                    &.big-label {
                        border-top-left-radius: 25px;
                        border-bottom-left-radius: 25px;
                    }
                }
        }
        textarea {
            font-family: $main-font;
            border: none;
            border-radius: 25px;
            resize: none;
            width: 100%;
            padding: .7rem;
            padding-left: rem(50px);
            color: $dark;
            font-size: rem(14px);
            outline: none;
            display: block;
            background: $light;
            box-shadow: 0 0 5px rgba(0, 0, 0, 0.05);
            @include breakpoint(s) {
                width: calc(100% - 170px);
                margin-left: rem(170px);
                padding-left: rem(15px);
                border-top-left-radius: 0;
                border-bottom-left-radius: 0;
            }
            &:focus {
                box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
            }
            &::placeholder {
                color: lighten($secondary, 20%);
            }
            @include breakpoint(m) {
                font-size: rem(15px);
            }
        }
    }
}

button {
    outline: none;
    border: none;
    cursor: pointer;
    font-size: 15px;
    font-family: $main-font;
}

ul {
    &.styled-list {
        li {
            list-style: none;
            &:before {
                content: '\f105';
                padding-right: 10px;
                font-family: $icon-font;
            }
        }
    }
}

.email {
    color: $primary;
    &:hover {
        text-decoration: underline;
    }
}

table {
    display: block;
    width: 100%;
    thead, tbody {
        display: block;
        width: 100%;
        tr {
            display: flex;
            padding: .7rem;
            &:nth-child(odd) {
                background: lighten($lightprimary, 10%);
            }
            th, td {
                width: 50%;
                flex-basis: 50%;
                text-align: left;
            }
        }
    }
    thead {
        tr {
            padding-bottom: 1rem;
            border-bottom: 1px solid $primary;
        }
    }
}

textarea {
    resize: none;
    font-family: $main-font;
}